parameters:
- name: environment
  type: string
  default: dev
- name: enabled
  type: boolean
  default: true
- name: stageName
  type: string
  default: ''
- name: stageDependencies 
  type: object 
  default: 
- name: deploymentPoolName
  type: string
  default: 'Homelabpool'
- name: kubernetesCluster
  type: string
- name: resourceGroup
  type: string
- name: azureServiceConnection
  type: string
- name: containerRegistryName
  type: string
# - name: containerImageName
#   type: string
# - name: containerImageTag
#   type: string
# - name: projectTriggerID
#   type: string
# - name: pipelineTriggerID
#   type: string

stages:
  - stage: ${{ parameters.stageName }}
    displayName: ${{ parameters.stageName }}
    # condition: 
    dependsOn: ${{ parameters.stageDependencies }}
    # pool:
    jobs:
    - deployment: 
      # displayName: ${{ parameters.stageName }} 
      pool:
        name: ${{ parameters.deploymentPoolName }} 
      environment: ${{ parameters.environment }}
      strategy:
        runOnce:
          deploy:
            steps:
            # - task: DownloadBuildArtifacts@0
            #   displayName: 'Download variables'
            #   inputs:
            #     buildType: 'specific'
            #     project: ${{ parameters.projectTriggerID }}
            #     pipeline: $(Resources.TriggeringAlias)
            #     buildVersionToDownload: 'latest'
            #     downloadType: 'specific'
            #     downloadPath: '$(System.ArtifactsDirectory)'

            - script: |
                pwd
                ls
                cat $(Pipeline.Workspace)/$(Resources.TriggeringAlias)/pipeline.env
              displayName: 'Restore Enviornment Variables'
            - script: | 
                echo "CONTAINER_IMAGE_NAME:$(containerImageName)"
                echo "CONTAINER_IMAGE_TAG:$(containerImageTag)"
              displayName: 'echo ENV variables'

            - task: AzureCLI@2
              displayName: 'Deploy Helm Chart Artifact'
              inputs:
                azureSubscription: ${{ parameters.azureServiceConnection }}
                scriptType: 'bash'
                scriptLocation: 'inlineScript'
                inlineScript: |
                  az aks get-credentials --resource-group ${{ parameters.resourceGroup }} --name ${{ parameters.kubernetesCluster }}
                  helm upgrade --install $(containerImageName) oci://${{ parameters.containerRegistryName }}/helm/$(containerImageName) --version $(containerImageTag)
                  helm history $(containerImageName)

            - task: AzureCLI@2
              displayName: 'Rollback Previous Helm Release'
              condition: failed()
              inputs:
                azureSubscription: ${{ parameters.azureServiceConnection }}
                scriptType: 'bash'
                scriptLocation: 'inlineScript'
                inlineScript: |
                  az aks get-credentials --resource-group ${{ parameters.resourceGroup }} --name ${{ parameters.kubernetesCluster }}   
                  helm rollback $(containerImageName) 0 # Previous release
                  helm history $(containerImageName)

            # - checkout: git://HomeLab/onlineboutique-helm-charts

            # - bash: | # when checkout one repo, the repo itself will be cloned to $(Agent.BuildDirectory)/s/
            #     kind config use-context kind-homelab
            #     helm upgrade -i ${{ parameters.microserviceName }} $(Agent.BuildDirectory)/s/${{ parameters.microserviceName }} \
            #     --set "ingress.hosts[0].host=abc.127.0.0.1.nip.io,ingress.hosts[0].paths[0].path=/,ingress.hosts[0].paths[0].pathType=Prefix"
 
            #   displayName: Helm Install
            
              
            
                