parameters:
- name: environment
  type: string
  default: dev
- name: enabled
  type: boolean
  default: true
- name: stageName
  type: string
  default: ''
- name: stageDependencies 
  type: object 
  default: 
- name: deploymentPoolName
  type: string
  default: 'Homelabpool'
- name: azureServiceConnection
  type: string
- name: containerRegistryName
  type: string
- name: containerImageName
  type: string
- name: containerImageTag
  type: string
  default: $(Build.BuildNumber)

stages:
  - stage: ${{ parameters.stageName }}
    displayName: ${{ parameters.stageName }}
    # condition: 
    dependsOn: ${{ parameters.stageDependencies }}
    # pool:
    jobs:
    - deployment: 
      # displayName: ${{ parameters.stageName }} 
      pool:
        name: ${{ parameters.deploymentPoolName }} 
      environment: ${{ parameters.environment }}
      strategy:
        runOnce:
          deploy:
            steps:
            - task: AzureCLI@2
              displayName: 'Deploy Helm Chart Artifact'
              inputs:
                azureSubscription: ${{ parameters.azureServiceConnection }}
                scriptType: 'bash'
                scriptLocation: 'inlineScript'
                inlineScript: |
                  az aks get-credentials --resource-group rg-homelab-online-boutique --name aks-homelab-online-boutique
                  helm upgrade --install ${{ parameters.containerImageName }} oci://${{ parameters.containerRegistryName }}/helm/${{ parameters.containerImageName }} --version ${{ parameters.containerImageTag }}
                  helm history ${{ parameters.containerImageName } 

            - task: AzureCLI@2
              displayName: 'Rollback Previous Helm Release'
              condition: failed()
              inputs:
                azureSubscription: ${{ parameters.azureServiceConnection }}
                scriptType: 'bash'
                scriptLocation: 'inlineScript'
                inlineScript: |
                  az aks get-credentials --resource-group rg-homelab-online-boutique --name aks-homelab-online-boutique   
                  helm rollback ${{ parameters.containerImageName }} 0 # Previous release
                  helm history ${{ parameters.containerImageName }  

            # - checkout: git://HomeLab/onlineboutique-helm-charts

            # - bash: | # when checkout one repo, the repo itself will be cloned to $(Agent.BuildDirectory)/s/
            #     kind config use-context kind-homelab
            #     helm upgrade -i ${{ parameters.microserviceName }} $(Agent.BuildDirectory)/s/${{ parameters.microserviceName }} \
            #     --set "ingress.hosts[0].host=abc.127.0.0.1.nip.io,ingress.hosts[0].paths[0].path=/,ingress.hosts[0].paths[0].pathType=Prefix"
 
            #   displayName: Helm Install
            
            # - task: HelmDeploy@0
            #   inputs:
            #     connectionType: 'Azure Resource Manager' # 'Azure Resource Manager' | 'Kubernetes Service Connection' | 'None'. Required. Connection Type. Default: Azure Resource Manager.
            #     azureSubscription: $(SC_ARM)
            #     azureResourceGroup: 'rg-homelab-online-boutique'
            #     kubernetesCluster: 'aks-homelab-online-boutique'
            #     namespace: 'default'
            #     command: 'upgrade' # 'create' | 'delete' | 'expose' | 'get' | 'init' | 'install' | 'login' | 'logout' | 'ls' | 'package' | 'rollback' | 'save' | 'upgrade' | 'uninstall'. Required. Command. Default: ls.
            #     #chartType: 'Name' # 'Name' | 'FilePath'. Required when command == install || command == upgrade. Chart Type. Default: Name.
            #     releaseName: ${{ parameters.microserviceName }}
            #     chartPath: $(Agent.BuildDirectory)/s/${{ parameters.microserviceName }}
            
            # - bash: |
            #     helm history ${{ parameters.microserviceName }}
            #     helm rollback ${{ parameters.microserviceName }} 0
            #     helm history ${{ parameters.microserviceName }}

            #   displayName: Helm Rollback
            #   condition: failed()

    # - job: ManualApproval
    #   displayName: "ManualApproval"
    #   pool: server
    #   steps:
    #   - task: ManualValidation@0
    #     timeoutInMinutes: 1440 # task times out in 1 day
    #     inputs:
    #       notifyUsers: |
    #         [freddieentity]\HomeLab Admin
    #       instructions: 'Please validate the deployment and resume'
    #       onTimeout: 'reject'

    # - job: Rollback
    #   displayName: Rollback
    #   environment: ${{ parameters.environment }}
    #   steps:
    #     - bash: |
    #         helm history ${{ parameters.microserviceName }}
    #         helm rollback ${{ parameters.microserviceName }} 0
    #         helm history ${{ parameters.microserviceName }}
          
    #       displayName: Helm Rollback
              
            
                