parameters:
- name: environment
  type: string
  default: dev
- name: stageName
  type: string
  default: ''
- name: stageDependencies 
  type: object 
  default: []
- name: deploymentPoolName
  type: string
  default: ''

stages:
  - stage: ${{ parameters.stageName }}
    displayName: ${{ parameters.stageName }}
    # condition: 
    dependsOn: ${{ parameters.stageDependencies }}
    # pool:
    jobs:
    - deployment: ${{ parameters.stageName }}
      displayName: ${{ parameters.stageName }} 
      pool:
        name: ${{ parameters.deploymentPoolName }} 
      environment: ${{ parameters.environment }}
      strategy:
        runOnce:
          deploy:
            steps:
            - bash: |
                echo '${{ parameters.stageName }} ...'
              displayName: ${{ parameters.stageName }} 