parameters:
- name: environment
  type: string
  default: dev
- name: enabled
  type: boolean
  default: true
- name: stageName
  type: string
  default: ''
- name: stageDependencies 
  type: object 
  default: 
- name: deploymentPoolName
  type: string
  default: 'Homelabpool'
- name: helmChartRepository
  type: string
  default: 'git://HomeLab/online-boutique-helm-charts'
- name: microserviceName
  type: string
  default: 'processingservice'

stages:
  - stage: ${{ parameters.stageName }}
    displayName: ${{ parameters.stageName }}
    # condition: 
    dependsOn: ${{ parameters.stageDependencies }}
    # pool:
    jobs:
    - deployment: 
      # displayName: ${{ parameters.stageName }} 
      pool:
        name: ${{ parameters.deploymentPoolName }} 
      environment: ${{ parameters.environment }}
      strategy:
        runOnce:
          deploy:
            steps:
            - checkout: ${{ paramters.helmChartRepository }} # when checkout one repo, the repo itself will be cloned to $(Agent.BuildDirectory)/s/

            - bash: | 
                helm upgrade -i ${{ parameters.microserviceName }} $(Agent.BuildDirectory)/s/${{ parameters.microserviceName }} \
                --set "ingress.hosts[0].host=abc.127.0.0.1.nip.io,ingress.hosts[0].paths[0].path=/,ingress.hosts[0].paths[0].pathType=Prefix"

              displayName: Helm Install 
            
            - task: HelmDeploy@0
            inputs:
            # Kubernetes Cluster
                connectionType: 'Azure Resource Manager' # 'Azure Resource Manager' | 'Kubernetes Service Connection' | 'None'. Required. Connection Type. Default: Azure Resource Manager.
                azureSubscription: # 
                azureResourceGroup: # string. Required when connectionType = Azure Resource Manager. Resource group. 
                kubernetesCluster: # string. Required when connectionType = Azure Resource Manager. Kubernetes cluster. 
                namespace: # string. Namespace. 
            # Commands
                command: 'ls' # 'create' | 'delete' | 'expose' | 'get' | 'init' | 'install' | 'login' | 'logout' | 'ls' | 'package' | 'rollback' | 'save' | 'upgrade' | 'uninstall'. Required. Command. Default: ls.
                #chartType: 'Name' # 'Name' | 'FilePath'. Required when command == install || command == upgrade. Chart Type. Default: Name.
                chartName:
            
            # - bash: |
            #     helm history ${{ parameters.microserviceName }}
            #     helm rollback ${{ parameters.microserviceName }} 0
            #     helm history ${{ parameters.microserviceName }}

            #   displayName: Helm Rollback
            #   condition: failed()

    # - job: ManualApproval
    #   displayName: "ManualApproval"
    #   pool: server
    #   steps:
    #   - task: ManualValidation@0
    #     timeoutInMinutes: 1440 # task times out in 1 day
    #     inputs:
    #       notifyUsers: |
    #         [freddieentity]\HomeLab Admin
    #       instructions: 'Please validate the deployment and resume'
    #       onTimeout: 'reject'

    # - job: Rollback
    #   displayName: Rollback
    #   environment: ${{ parameters.environment }}
    #   steps:
    #     - bash: |
    #         helm history ${{ parameters.microserviceName }}
    #         helm rollback ${{ parameters.microserviceName }} 0
    #         helm history ${{ parameters.microserviceName }}
          
    #       displayName: Helm Rollback
              
            
                